@page "/"
@inherits IndexBase
<div class="w-100">
    <Header></Header>
    <div style="margin-top:55px;">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" style="background-image: url('../images/bg01.jpg'); height:450px; background-size: 100% 100%;background-repeat: no-repeat;">
                    <div class="container h-100">
                        <div class="d-flex align-items-center h-100 p-5">
                            <div class="row textDisplay animate__animated animate__fadeInDown" style="margin:0px;">
                                <div class="col-sm-3">
                                    <img src="/Images/arthur.png" height="100" style="border-width: 0px; -ms-border-radius: 60px; border-radius: 60px;">
                                    <p style="color: #f7f20b;">Arthur Lu</p>
                                </div>
                                <div class="col-sm-9">
                                    <div style="text-align:left;">
                                        <h5 style="color: #f7f20b;font-size:16px">Introduction: I am a <a style="cursor:pointer;color:white" @onclick='()=>ModalShow("certificates")'>Microsoft Certified Developer</a>. I graduated from Jilin University of China and I have a master degree of the computer science. My major is the computer engineering.</h5>
                                        <h5 style="color: #f7f20b;font-size:14px"><img src="/Images/email.png" style="border-width: 0px;margin-right: 5px;">arthur.lv6@gmail.com </h5>
                                        <h5 style="color: #f7f20b;font-size:14px"><img src="/Images/phone.png" style="border-width: 0px;margin-right: 5px;">021-057-8463</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('../images/bg02.jpg'); height:450px; background-size: 100% 100%;background-repeat: no-repeat;">
                    <div class="container h-100">
                        <div class="d-flex justify-content-around align-items-center h-100">
                            <img src="/images/familyAndFriend/colleagues.jpg" width="220" alt="" class="animate__animated animate__fadeInLeftBig">
                            <img src="/images/familyAndFriend/Fridents.png" width="500" alt="" class="animate__animated animate__zoomIn">
                            <img src="/images/familyAndFriend/familyAll.png" width="240" alt="" class="animate__animated animate__fadeInRightBig">
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('../images/bg03.jpg'); height:450px; background-size: 100% 100%;background-repeat: no-repeat;">
                    
                        <div class="d-flex align-items-center justify-content-left h-100 container">
                            <div class="animate__animated animate__fadeInDownBig">
                                <h3>Working history</h3>

                                <h4 style="cursor:pointer" @onclick='()=>ModalShow("2018")'>2018.9 – 2020.10 LPS Ltd.  Position is Software Developer.</h4>
                                <h4 style="cursor:pointer" @onclick='()=>ModalShow("2016")'>2016.5 – 2018.8 Unleashed Ltd.  Position is Software Developer.</h4>
                                <h4 style="cursor:pointer" @onclick='()=>ModalShow("2014.1")'>2014.10 – 2015.4 Manchester &amp; More Ltd.  Position is Software Engineer.</h4>
                                <h4 style="cursor:pointer" @onclick='()=>ModalShow("2014.2")'>2014.3 – 2014.9 GoSweetSpot Ltd.  Position is .Net Web Developer.</h4>
                                <h4 style="cursor:pointer" @onclick='()=>ModalShow("2013")'>2013.9 – 2014.2 Ishoppers Ltd.  Position is .Net Developer.</h4>
                                <h4 style="cursor:pointer" @onclick='()=>ModalShow("2012")'>2012.01 – 2013.2, Bargain Hunting Ltd.  Position is .Net Developer.</h4>
                            </div>
                        </div>
                   
                </div>
                <div class="carousel-item" style="background-image: url('../images/bg04.jpg'); height:450px; background-size: 100% 100%;background-repeat: no-repeat;">
                    <div class="d-flex align-items-center justify-content-left h-100 container">

                        <div class="animate__animated animate__fadeInDownBig">
                            <h3>My development philosophy</h3>
                            <h4>
                                1, Customers' evaluation is the only standard for the developer. Never forget your manager is your kind of customer.
                            </h4>
                            <h4>
                                2, Try to use new techniques while freshing and solidifying basic concepts.
                            </h4>
                            <h4>
                                3, If you care enough, everything is possible. The more projects that you develop, the more experience you will get for yourself not others.
                            </h4>
                        </div>
                    </div>

                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="animate__animated animate__zoomIn">
        <div class="container mt-4 mt-sm-2 ">

            <div class="row">
                <div class="col-md-4">
                    <h3>Document</h3>
                    <blockquote>
                            <a style="cursor: pointer; color: blue" @onclick='()=>ModalShow("cv")'>
                                Arthur's latest CV
                            </a>
                    </blockquote>

                    <h3 id="Test">Technique skills</h3>
                    <blockquote>
                        <p class="text-info">
                            I am proficient in Microsoft .Net framework including ASP.NET,
                            C#, Entity framework, MVC, Blazor, WEB API, Web Services, Silverlight, Xamarin.Form, WPF, WCF, Cloud computing Azure, AWS, SQL Database and relevant technique such as HTML5, AJAX, jQuery, Javascript, Angullar, CSS, Bootstrap and the like.
                        </p>
                        <p class="text-info">
                            A team player working in a scrum environment.
                        </p>
                        <p class="text-info">
                            I am good at using Github or DevOps as my source control server and Trello or Jira as my project management tools.
                        </p>
                    </blockquote>
                    <h3>Qualifications</h3>
                    <blockquote>
                        <p class="text-info">
                            8 May 2020：Azure Developer Associate
                        </p>
                        <p class="text-info">
                            7 January 2020：Azure Fundamentals
                        </p>
                        <p class="text-info">
                            31 March 2015：Microsoft Certified Professional of Programming in C#
                        </p>
                        <p class="text-info">
                            1 March 2015：Microsoft Certified Professional of ASP.NET MVC Web Applications
                        </p>
                        <p class="text-info">
                            March 2004 – December 2006：Master of Software Engineering in Jilin University, China
                        </p>
                        <p class="text-info">
                            May 1998 – October 2000：Bachelor of Computer and application in Jilin University, China
                        </p>
                        <p class="text-info">
                            2004：Training of Microsoft Project Manager
                        </p>
                    </blockquote>


                </div>
                <div class="col-md-4">
                    <h3>Open source</h3>
                    <blockquote>
                        <a href="https://github.com/arthurlv6/TSPDemo" target="_blank">Blazor web assembly + REST API</a><br>
                        <ol>
                            <li>
                                Railway pattern - Functional program
                            </li>
                            <li>
                                Identity4 server - Authentication and Authorization
                            </li>
                            <li>
                                Progressive Web Application-PWA
                            </li>
                            <li>
                                DevOps CI/CD ARM files
                            </li>
                            <li>
                                API and Azure Functions
                            </li>
                        </ol>

                        <a href="https://github.com/arthurlv6/angularDemo" target="_blank">Angular6 + REST API APP</a><br>
                        <ol>
                            <li>
                                Simply add,delete and edit.
                            </li>
                            <li>
                                Client cache
                            </li>
                            <li>
                                Authentication
                            </li>
                        </ol>
                        <a href="https://github.com/arthurlv6/PipelineFramework" target="_blank">Customized pipeline framework</a><br>
                        <ol>
                            <li>
                                Simpify business logic
                            </li>
                            <li>
                                Can be used at any c# applications.
                            </li>
                            <li>
                                No third-part dependency.
                            </li>
                        </ol>
                        <a href="https://github.com/arthurlv6/smartphone" target="_blank">Smartphone application (Xamarin.forms)</a><br>
                        <ol>
                            <li>
                                MVVM Pattern
                            </li>
                            <li>
                                Scan barcode, phone call, map show and camera native API calls.
                            </li>
                            <li>
                                Cross platform.
                            </li>
                        </ol>
                        <a href="https://github.com/arthurlv6/MVC5" target="_blank">MVC+EntityCodefirst+Identity2</a>
                        <br>
                        <ol>
                            <li>
                                Global Server Exception control
                            </li>
                            <li>
                                Global action filter for IP restriction
                            </li>
                            <li>
                                Data cache usage in management controller
                            </li>
                            <li>
                                Universal Search and List template
                            </li>
                            <li>
                                Using justmock to fully test the edit function.
                            </li>
                        </ol>
                        
                    </blockquote>
                    <h3>Live online shows</h3>
                    <blockquote>
                        <a href="https://tsp-dev-app.azurewebsites.net/" target="_blank">TSP app (Blazor+API+Azure Functions) </a>
                        <br>
                        <a href="http://inventory.arthurdid.net/" target="_blank">Inventory management app (MVC) </a>
                        <br>
                        <a href="http://angular.arthurdid.net/" target="_blank">Inventory management app (Angular 6 + REST API) </a>
                        <br>
                        <a href="http://ad.arthurdid.net" target="_blank">Advertisement Platform (MVC)</a>
                        <br>
                        <a href="http://agency.arthurdid.net/" target="_blank">Agency management app (MVC)</a>
                        <br>
                    </blockquote>
                </div>
                <div class="col-md-4">
                    <h3>Industry experience</h3>
                    <blockquote>
                        <p class="text-info">
                            Supply Chain Collaboration system.
                        </p>
                        <p class="text-info">
                            Retail inventory management and online trade system.
                        </p>
                        <p class="text-info">
                            Hire-to-purchase management system.
                        </p>
                        <p class="text-info">
                            Freight integration system.
                        </p>
                        <p class="text-info">
                            CRM, ERP for manufactures.
                        </p>
                        <p class="text-info">
                            Apartment property management system for government.
                        </p>
                        <p class="text-info">
                            Hospital and health insurance management systems.
                        </p>
                    </blockquote>

                    <h3>References</h3>
                    <blockquote>
                        <p class="text-info">
                            LPS Ltd <br>
                            General manager: Evan<br>
                            Mobile: +64 218 36440<br>
                            Email: evan.belford@lps.co.nz
                        </p>
                        <p class="text-info">
                            Unleashed Ltd <br>
                            HR manager: Lisa<br>
                            Mobile: +64 9 801 6337
                        </p>
                        <p class="text-info">
                            DFS Tourist Industry Management System <br>Marketting department manager: Jason Lu<br>Mobile: 021 567 916<br>Email: jason.lu@dfs.com
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <Detail @ref="Detail"></Detail>
</div>

