<div class="navbar fixed-top" style="background-color:#222;padding:0px;height:55px;">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Arthur's CV</a>
        </div>
        <ul class="nav navbar-nav navbar-right d-none d-sm-block">
            <li>
                <p style="color: #f7f20b;margin-top:15px;"><img src="/Images/email.png" style="border-width: 0px;margin-right: 5px;">Email:arthur.lv6@gmail.com <img src="/Images/phone.png" style="border-width: 0px;margin-right: 5px;">Phone:021-057-8463</p>
            </li>
        </ul>
    </div>
</div>